page-home {

          input {
               color: skyblue;
               width: 30%;
               height:4%; 
               display: flex;
               align-items: center;
               
          }
          button{
               display: flex;
               width: 30%;
          }
          ion-content {
               background-image: url("../../assets/imgs/th1CZI2DBQ.jpg");
               background-size: cover;
          }
     }
